head{
    color: white;
    background-color: rgba(44, 44, 44, 0.855);
    width: 100%;
}
.logo{
    width: 100px;

}
.apartados{
    display: contents;
}
.apartado{
    display: contents; 
    color: rgb(2, 179, 255);
    padding: 0.5%;
}
strong{
    background-color: rgb(0, 204, 255);
    border-radius: 20px 10px 100px 20px;
    color: rgb(255, 255, 255);
    
}
a{
    display: contents;
}
h1{
    margin-top: auto;
    background-color: rgb(0, 80, 126);
    
    padding-left: 10px;
    border-radius: 0px 0px 100px 0px;
    background-color: blue;
}
.imgInic{
    width: 140px;
}
body{
    background-color: rgb(0, 80, 126);
}
.izquierda{
    float: left;
    margin-right: 150px;
}
.derecha{
    display: flow-root;
}
h2{
    background-color: blue;
    border-radius: 20px 10px 100px 20px;
    color: white;
    padding: 15px;
}
p{
    color: white;
}